
.descrip{
    padding-left: 5%;
    padding-right: 5%;
}

.descrip-ul{
    padding-left: 10%;
    padding-right: 5%;
}

.img-res{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;

}

#alin{
    color:#1e1e1e
}